In [3]:
from sklearn.preprocessing import LabelEncoder
!pip install lightgbm

Requirement already satisfied: lightgbm in /Users/nsumesh/.pyenv/versions/3.10.13/lib/python3.10/site-packages (4.6.0)
Requirement already satisfied: numpy>=1.17.0 in /Users/nsumesh/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from lightgbm) (2.2.6)
Requirement already satisfied: scipy in /Users/nsumesh/.pyenv/versions/3.10.13/lib/python3.10/site-packages (from lightgbm) (1.15.3)

In [6]:
import lightgbm as lgb
import numpy as np
from sklearn.metrics import mean_squared_error
import pandas as pd

In [7]:
training_data = pd.read_csv('/Users/nsumesh/Documents/GitHub/ProductDemandForecasting/notebooks/final_train_data.csv')
testing_data = pd.read_csv('/Users/nsumesh/Documents/GitHub/ProductDemandForecasting/notebooks/final_test_data.csv')

In [12]:
featured_training_data = training_data[['store_nbr', 'family', 'onpromotion', 'transactions', 'city', 'state',
    'type', 'cluster', 'dcoilwtico', 'is_holiday', 'dayofweek', 'day', 'month',
    'year', 'weekofyear', 'is_weekend', 'lag_1', 'lag_7', 'rolling_mean_7',
    'rolling_std_7', 'rolling_mean_30', 'stockout']]
target_data = training_data[['log_sales']]

In [13]:
featured_training_data
target_data

         log_sales
0         0.000000
1         1.098612
2         1.386294
3         1.386294
4         1.791759
...            ...
2409259   0.000000
2409260   0.000000
2409261   0.000000
2409262   0.000000
2409263   1.098612

[2409264 rows x 1 columns]